<ion-modal-view class="modal">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text"  ng-model="editThisContact.name" placeholder="Name">
            </label>
            <label class="item item-input">
                <span class="input-label">Number</span>
                <input type="text"  ng-model="editThisContact.number" placeholder="Number">
            </label>
            <button ng-click="editContact(editThisContact)" class="button button-full button-positive">
                Save Changes
            </button>
            <button ng-click="deleteContact(editThisContact.id)" class="button button-full button-assertive">
               DeleteThis Contact
            </button>
        </div>
    </ion-content>
</ion-modal-view>