<ion-view title="Login">
    <ion-content class=" padding">
        <div class="list card">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model="luser.email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="Password" placeholder="Password" ng-model="luser.password">
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="login(luser)">
                Login
            </button>
        </div>
    </ion-content>
</ion-view>
