<ion-view title="Cars">
    <ion-content class="padding">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refreshData()">
        </ion-refresher>
        <div class="list card">
            <div class="item item-divider bar bar-header bar-calm">My Cars</div>
            <div class="item item-body">
                <div class="list"  ng-repeat="car in cars">
                    <div class="item item-button-right">
                        {{$index + 1}}. {{car.description}}
                        <button class="button button-calm" ng-click="editCar(car)">
                            <i class="icon ion-compose"></i>
                        </button>
                    </div>
                </div>
                <div ng-hide="carsCount > 0"> You have 0 cars setup.</div>
                    <button class="button button-block button-calm" ng-click="newCar()">
                        Add a Car
                    </button>
            </div>
        </div>
    </ion-content>
</ion-view>
