<ion-view title="DriveAlert">
    <ion-content style="background: url(img/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <button class="button  button-energized"  ui-sref="main.register">Register</button>
        <div class="title"></div>
        <button class="button button-energized"  ui-sref="main.login">Login</button>
    </div>

</ion-view>