<ion-view title="Tour">
    <ion-content>
        <ion-slide-box show-pager="false"  >
            <ion-slide>
                <img style="width: 100%" ng-src="img/t1.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t2.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t3.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t4.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t5.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t6.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t7.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t8.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t9.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t10.png">
            </ion-slide>
            <ion-slide>
                <img style="width: 100%" ng-src="img/t11.png">
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>

