<ion-view title="Settings">
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="logout()">
        Log Out
    </button>
    </ion-content>
</ion-view>
