<ion-view title="Settings">
    <ion-content class="padding">
        <button class="button button-block button-positive" ui-sref="main.tour">
            Tour
        </button>
        <button class="button button-block button-assertive" ng-click="logout()">
        Log Out
    </button>
        <button ng-show="admin" class="button button-block button-dark" ng-click="goPro()">
            GO PRO!
        </button>
        <button ng-show="admin" class="button button-block button-dark" ng-click="ownedProducts()">
            Show Owned Products
        </button>
        <button ng-show="admin" class="button button-block button-dark" ng-click="getAvailable()">
            Get Available Products
        </button>
    </ion-content>
</ion-view>
