<ion-modal-view class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Select a Contact</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Enter Contact Name" ng-model="myContact">
                </label>
                <button class="button button-small button-positive" ng-click="search(myContact)" >
                    Search
                </button>
            </div>
        </div>
        <div class="list" ng-repeat="contact in contacts" ng-show="contacts">
                <div class="item item-button-right">
                    {{contact.displayName}}<br>
                    {{contact.phoneNumbers[0].value}} {{contact.phoneNumbers[0].type}}
                    <button ng-click="addContact(contact)" class="button button-positive">
                        <i class="ion-android-add"></i>
                    </button>
                </div>
        </div>
    </ion-content>
</ion-modal-view>